<!DOCTYPE html>
  <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zivianni Imóveis</title>
        <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- Menu navbar -->
        <header>
          <nav class="navbar navbar-dark bg-primary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">
                  <img src="imgs\z.png" alt="" width="30" height="24" class="d-inline-block align-top">
                  Zinianni
                </a>
                <a class="navbar-brand" href="/casas">Casas</a>
                <a class="navbar-brand" href="/apartamentos">Apartamentos</a>
                <a class="navbar-brand" href="/contato">Contato</a>
                <a class="navbar-brand" href="/sobre">Sobre nós</a>
              </div>
          </nav>
        </header>

        <!-- Corpo da página -->
        {{{body}}}
    </body>
  </html>