
<h1>Contato</h1>

<p>Zizi imóveis</p>
<p>telefone: (31) 8565-9585</p>
<p>Whatsapp: +55 31 99654-8596</p>
<p>Endereço: Av. Amazonas, 5253 - Nova Suíça, Belo Horizonte - MG, 30421-169</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d16685.44437431001!2d-44.054663396545095!3d-19.873363613589863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scefetmg!5e0!3m2!1spt-BR!2sbr!4v1613744226900!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>