<div class="hehe" style="padding: 25px;">
    <form action="\add-imovel" method="POST">
    <h3>Anuncie seu imóvel no nosso site</h3>
    <div class="mb-3">
        <label for="tipo_imovel" class="form-label">Informe o tipo do seu imóvel</label>
        <select class="form-select" aria-label="tipo_imovel" name="tipo">
            <option selected value="1">Apartamento</option>
            <option value="2">Casa</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="titulo_imovel" class="form-label">Título para o anúncio do ímovel</label>
        <input type="text" class="form-control" id="titulo_imovel" name="titulo_imovel" aria-describedby="titulo">
        <div id="titulo" class="form-text">O título deve ter no máximo 255 caracteres e ser chamativo para o seu imóvel.</div>
    </div>
    <div class="mb-3">
        <label for="descricao_imovel" class="form-label">Descrição para o anúncio do ímovel</label>
        <input type="text" class="form-control" id="descricao_imovel" name="descricao_imovel" aria-describedby="descricao">
        <div id="descricao" class="form-text">A descrição deve ser sucinta e apresentar os melhores benefícios do seu imóvel.</div>
    </div>
    <div class="mb-3">
        <label for="comodidades_imovel" class="form-label">Comodiades do ímovel</label>
        <input type="text" class="form-control" id="comodidades_imovel" name="comodidades_imovel" aria-describedby="comodidades">
        <div id="comodidades" class="form-text">lista separada por vírgulas das comodidades do seu imóvel. Ex: ar condicionado,piscina,churrasqueira.</div>
    </div>
    <div class="mb-3">
        <label for="endereco_imovel" class="form-label">Endereço do ímovel</label>
        <input type="text" class="form-control" id="endereco_imovel" name="endereco_imovel" aria-describedby="endereco">
        <div id="endereco" class="form-text">Ex: Avenida Lins de Vasconcelos, 234, casa; Avenida Paulista, 316, apartamento 13</div>
    </div>
    <div class="mb-3">
        <label for="cep_imovel" class="form-label">CEP do imóvel</label>
        <input type="number" class="form-control" id="cep_imovel" name="cep_imovel">
    </div>
    <div class="mb-3">
        <label for="num_quartos" class="form-label">Número de quartos</label>
        <input type="number" class="form-control" id="num_quartos" name="num_quartos">
    </div>
    <div class="mb-3">
        <label for="num_banheiros" class="form-label">Número de banheiros</label>
        <input type="number" class="form-control" id="num_banheiros" name="num_banheiros">
    </div>
    <div class="mb-3">
        <label for="num_garagens" class="form-label">Número de vagas de garagem</label>
        <input type="number" class="form-control" id="num_garagens" name="num_garagens">
    </div>
    <div class="mb-3">
        <label for="area_imovel" class="form-label">Área total do imóvel</label>
        <input type="number" class="form-control" id="area_imovel" name="area_imovel" >
    </div>
    <div class="mb-3">
        <label for="aluguel" class="form-label">Valor da mensalidade do aluguel</label>
        <input type="number" class="form-control" id="aluguel" name="aluguel" >
    </div>
    <div class="mb-3">
        <label for="condominio" class="form-label">Valor da mensalidade do condominio</label>
        <input type="number" class="form-control" id="condominio" name="condominio" aria-describedby="descricao_condominio">
        <div id="descricao_condominio" class="form-text">Caso não faça parte de um condomínio, colocar zero neste campo.</div>
    </div>
    <div class="mb-3">
        <label for="iptu" class="form-label">Valor da mensalidade do IPTU</label>
        <input type="number" class="form-control" id="iptu" name="iptu" >
    </div>
    <div class="mb-3">
        <label for="imagem" class="form-label">Imagem do ímovel</label>
        <input type="text" class="form-control" id="imagem" name="imagem" aria-describedby="descricao_imagem">
        <div id="descricao_imagem" class="form-text">Link para uma imagem do imóvel</div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<style>
    .hehe {
        color: brown;
    }
</style>