<div style="padding: 25px;">
    <form action="/add-usuario" method="POST">
    <h3>Cadastre-se no nosso site</h3>
    <div class="mb-3">
        <label for="cpf" class="form-label">Informe seu CPF</label>
        <input type="text" class="form-control" name="cpf" id="cpf">
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Informe seu nome completo</label>
        <input type="text" class="form-control" name="nome" id="nome">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">informe seu telefone</label>
        <input type="text" class="form-control" name="telefone" id="telefone" aria-describedby="tel">
        <div id="tel" class="form-text">Ex: (31) 99865-4125</div>
    </div>
    <div class="mb-3">
        <label for="renda" class="form-label">Informe sua renda mensal</label>
        <input type="number" class="form-control" name="renda" id="renda">
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Crie uma senha</label>
        <input type="password" class="form-control" name="senha" id="senha">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>