
<div class="container" style="padding-bottom: 60px; text-align: center; padding-top: 60px;">
  <div class="row" >
    <div class="col-sm" style="align-self: center;">
      <div class="row">
        <h1 class="text-justify">Sobre nós</h1>
        <p class="text-justify" >
        Zinianni é a corretora com o maior número de vendas desde 1980. Nosso objetivo é facilitar o aluguel de imóveis. Se você está com dificuldades em alugar aquela casa que ficou grande ou pequena demais para você, então está no lugar certo. E se você procura o lar dos sonhos, está no lugar certo também. 
        </p>
      </div>
    </div>
    <div class="col-sm">
      <img src="imgs/imagemSobreNos.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>