
<div class="container" style="padding-bottom: 50px;">
  <div class="row" >
    <div class="col-sm">
      <div class="row">
        <h1>Sobre nós</h1>
      </div>
      <div class="row" >
        &emsp;Zinianni é a corretora com o maior número de vendas desde 1980. Nosso objetivo é facilitar a venda de imóveis. Se você está com dificuldades em vender aquela casa que ficou grande ou pequena demais para você, então está no lugar certo. E se você procura o lar dos sonhos, está no lugar certo também.
      </div>
    </div>
    <div class="col-sm">
      <img src="imgs/imagemSobreNos.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
